# System files
.DS_Store
Thumbs.db
*.log
.npmrc

# IDEs and editors
.idea
# Visual Studio Code
.vscode

# Miscellaneous
/.nyc_output
/dist
/lib
/tmp
package-lock.json
yarn.lock

# Dependency directories
node_modules
oclif.manifest.json
*.conf.json
*.config.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache
